* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:#ffffff; /* white */
    font-family:helvetica;
    color:#000000;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#header{
    color:#000000;
    font-weight: bold;
    font-family: 'Inconsolata';
    font-size: 16px;
}/* every thing in the header section of your html, which is "Your Name" for now */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  width: 100%;
  align-items: center;
}

.section {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 28px;
}/* every thing with the class name of section, which are the lines "Assignment" and "Projects" for now */

a {
  font-family: 'Inconsolata';
  font-size: 14px;
  color: #000000;
  margin: 10px;
}/*all the links, which start with <a and end with </a>*/

.weeks{
  font-size:20px;
  margin:10px;
  margin-top:20px;
}
