p.hd_title {
  color:#000000;
  font-weight: bold;
  font-family: 'Inconsolata';
  font-size: 16px;
}

p.hd_name {
  color: grey; /* light grey */
  font-family: 'Inconsolata';
  font-size: 13px;
}

g.tick {
  color: #BDBDBD; /* light grey */
  font-weight: bold;
  font-family: 'Inconsolata';
  font-size: 13px;
}

.tick > line {
  stroke: #BDBDBD; /* light grey */
  stroke-width: 0.5px;
}

g > path {
  stroke-width: 2px;
}
